<% provide(:title, @User.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @User %>
        <%= @User.name %>
      </h1>
    </section>
  </aside>
</div>